:root {
    --primary-color: #333;
    --secondary-color: #f1f1f1;
    --text-color: #fff;
    --btn-hover: #444;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: var(--secondary-color); 
    background: linear-gradient(
      rgba(255, 255, 255, 0.9), 
      rgba(255, 255, 255, 0.9)
    ),
    url('images/ESK-logo.png') no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--primary-color);
  }
  
  .description {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #666;
  }
  
  .quiz-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Buttons for categories */
  .baroque-btn {
    background-color: #6a4f4b;
  }
  
  .classical-btn {
    background-color: #0077b6;
  }
  
  .romantic-btn {
    background-color: #9d4edd;
  }
  
  .piano-btn {
    background-color: #2a9d8f;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .back-btn {
    margin-top: 10px;
    background-color: var(--primary-color);
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  